<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Welcom to the Movie World!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body onload="document.registerForm.username">
<div id="header" th:include="layout :: title" />

<div  class="container">
    <div id="registerbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Register</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
                <form name="registerForm" method="POST" th:object="${userRegisterForm}" th:action="@{/regist}" th:method="POST">
                    <pre class="alert alert-danger col-sm-12" th:if="${userRegisterForm != null} and ${#fields.hasErrors('username')}" th:errors="*{username}">Error</pre>
                    <pre class="alert alert-danger col-sm-12" th:if="${userRegisterForm != null} and ${#fields.hasErrors('password')}" th:errors="*{password}">Error</pre>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="Username" type="text" class="form-control" name="username" value="" placeholder="username" />
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="Password" type="password" class="form-control" name="password" placeholder="password" />
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="PasswordConfirm" type="password" class="form-control" name="passwordConfirm" placeholder="password confirm" />
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <input name="submit" type="submit" value="Register" class="btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>